aside.cta-quote {
  background-image: image-url('colors3.png') !important;
 }

 .bg-1 {
 	background-image: image-url('Bathroom.jpeg') !important;
 }
  .bg-2 {
 	background-image: image-url('Kitchen.jpeg') !important;
 }
  .bg-3 {
 	background-image: image-url('Renovation.jpeg') !important;
 }
  .bg-4 {
 	background-image: image-url('ArchitectureDesign.jpeg') !important;
 }

 .bg-5 {
 	background-image: image-url('kitchen1.jpeg') !important;
 }

 .pricing {
 	background-image: image-url('bg-pricing.jpg') !important;
 }

 #portfolioModal1 {
 	background-image: image-url('Bathroom.jpeg') !important;
 }

 #portfolioModal2 {
 	background-image: image-url('Kitchen.jpeg') !important;
 }

 #portfolioModal3 {
 	background-image: image-url('Renovation.jpeg') !important;
 }

 #portfolioModal4 {
 	background-image: image-url('ArchitectureDesign.jpeg') !important;
 }

 #portfolioModal5 {
 	background-image: image-url('kitchen1.jpeg') !important;
 }

 .footer {
 	background-image: image-url('city2.jpg') !important;
 }

 a.page-scroll {
	font-weight: bolder !important;
 } 

 .footer-text {
 	color: white !important;
 }