.nothing {
    padding: 0px !important;
    margin: 0px !important;
    border: 0px solid black  !important;
    background: none !important;
    outline: 0px !important;
}

section#about {
	padding-top: 45px !important;
}

.btn-huge{
    padding-top:20px;
    padding-bottom:20px;
}

.red-text {
	color: #EF4035;
}